<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <!-- Đổi Data Source cho đúng tên SQL Server trên máy bạn (vd: TEN-MAY\SQLEXPRESS, (localdb)\MSSQLLocalDB) -->
        <add name="movie"
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=movie;Integrated Security=True;Encrypt=False"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <!-- Máy chủ gửi email mã xác nhận khi quên mật khẩu. Để trống thì chức năng gửi mã bị tắt.
             Ví dụ Gmail: SmtpHost=smtp.gmail.com, SmtpPort=587, SmtpEnableSsl=true,
             SmtpUser=địa chỉ Gmail, SmtpPassword=App Password 16 ký tự (không phải mật khẩu Gmail). -->
        <add key="SmtpHost" value="" />
        <add key="SmtpPort" value="587" />
        <add key="SmtpEnableSsl" value="true" />
        <add key="SmtpUser" value="" />
        <add key="SmtpPassword" value="" />
        <add key="SmtpFrom" value="" />
        <add key="SmtpDisplayName" value="Rạp chiếu phim" />
    </appSettings>
</configuration>