/****** Nâng cấp database đã tạo bằng script.sql bản cũ ******/
-- Chạy được nhiều lần: phần nào đã có thì bỏ qua.
USE [movie]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Vé: người đặt, giá vé, thời điểm đặt
IF COL_LENGTH('dbo.BookedSeats', 'IDTaiKhoan') IS NULL
    ALTER TABLE [dbo].[BookedSeats] ADD [IDTaiKhoan] [int] NULL
GO
IF COL_LENGTH('dbo.BookedSeats', 'Price') IS NULL
    ALTER TABLE [dbo].[BookedSeats] ADD [Price] [decimal](10, 2) NULL
GO
IF COL_LENGTH('dbo.BookedSeats', 'BookedAt') IS NULL
    ALTER TABLE [dbo].[BookedSeats] ADD [BookedAt] [datetime] NOT NULL CONSTRAINT [DF_BookedSeats_BookedAt] DEFAULT (getdate())
GO
IF OBJECT_ID(N'dbo.FK_BookedSeats_Seats', N'F') IS NULL
    ALTER TABLE [dbo].[BookedSeats] WITH CHECK ADD CONSTRAINT [FK_BookedSeats_Seats] FOREIGN KEY([SeatID])
    REFERENCES [dbo].[Seats] ([SeatID])
GO
IF OBJECT_ID(N'dbo.FK_BookedSeats_TaiKhoan', N'F') IS NULL
    ALTER TABLE [dbo].[BookedSeats] WITH CHECK ADD CONSTRAINT [FK_BookedSeats_TaiKhoan] FOREIGN KEY([IDTaiKhoan])
    REFERENCES [dbo].[TaiKhoan] ([IDTaiKhoan])
GO
-- Ảnh poster lưu trong database
IF COL_LENGTH('dbo.Movies', 'Poster') IS NULL
    ALTER TABLE [dbo].[Movies] ADD [Poster] [varbinary](max) NULL
GO
-- Index chống trùng ghế
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'UX_Seats_Room_SeatName' AND object_id = OBJECT_ID(N'dbo.Seats'))
    CREATE UNIQUE NONCLUSTERED INDEX [UX_Seats_Room_SeatName] ON [dbo].[Seats] ([RoomID], [SeatName])
GO
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = N'UX_BookedSeats_Showtime_Seat' AND object_id = OBJECT_ID(N'dbo.BookedSeats'))
    CREATE UNIQUE NONCLUSTERED INDEX [UX_BookedSeats_Showtime_Seat] ON [dbo].[BookedSeats] ([ShowtimeID], [SeatID]) WHERE [IsBooked] = 1
GO
-- Thời lượng phim (phút) để kiểm tra suất chiếu chồng giờ
IF COL_LENGTH('dbo.Movies', 'Duration') IS NULL
    ALTER TABLE [dbo].[Movies] ADD [Duration] [int] NULL
GO
-- Phí hoàn vé
IF COL_LENGTH('dbo.BookedSeats', 'RefundAmount') IS NULL
    ALTER TABLE [dbo].[BookedSeats] ADD [RefundAmount] [decimal](10, 2) NULL
GO
IF COL_LENGTH('dbo.BookedSeats', 'RefundedAt') IS NULL
    ALTER TABLE [dbo].[BookedSeats] ADD [RefundedAt] [datetime] NULL
GO
-- Cài đặt và đồ uống
IF OBJECT_ID(N'dbo.CaiDat', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[CaiDat](
	[Khoa] [nvarchar](50) NOT NULL,
	[GiaTri] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[Khoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF OBJECT_ID(N'dbo.DoUong', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[DoUong](
	[IDDoUong] [int] IDENTITY(1,1) NOT NULL,
	[TenDoUong] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[Gia] [decimal](10, 2) NOT NULL,
	[HinhAnh] [varbinary](max) NULL,
	[DangBan] [bit] NOT NULL CONSTRAINT [DF_DoUong_DangBan] DEFAULT ((1)),
PRIMARY KEY CLUSTERED
(
	[IDDoUong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF OBJECT_ID(N'dbo.DonDoUong', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[DonDoUong](
	[IDDon] [int] IDENTITY(1,1) NOT NULL,
	[IDTaiKhoan] [int] NULL,
	[ShowtimeID] [int] NULL,
	[TongTien] [decimal](12, 2) NOT NULL,
	[NgayDat] [datetime] NOT NULL CONSTRAINT [DF_DonDoUong_NgayDat] DEFAULT (getdate()),
PRIMARY KEY CLUSTERED
(
	[IDDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF OBJECT_ID(N'dbo.ChiTietDonDoUong', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[ChiTietDonDoUong](
	[IDDon] [int] NOT NULL,
	[IDDoUong] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[IDDon] ASC,
	[IDDoUong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF OBJECT_ID(N'dbo.FK_DonDoUong_TaiKhoan', N'F') IS NULL
    ALTER TABLE [dbo].[DonDoUong] WITH CHECK ADD CONSTRAINT [FK_DonDoUong_TaiKhoan] FOREIGN KEY([IDTaiKhoan])
    REFERENCES [dbo].[TaiKhoan] ([IDTaiKhoan])
GO
IF OBJECT_ID(N'dbo.FK_DonDoUong_Showtimes', N'F') IS NULL
    ALTER TABLE [dbo].[DonDoUong] WITH CHECK ADD CONSTRAINT [FK_DonDoUong_Showtimes] FOREIGN KEY([ShowtimeID])
    REFERENCES [dbo].[Showtimes] ([ShowtimeID])
GO
IF OBJECT_ID(N'dbo.FK_ChiTietDonDoUong_DonDoUong', N'F') IS NULL
    ALTER TABLE [dbo].[ChiTietDonDoUong] WITH CHECK ADD CONSTRAINT [FK_ChiTietDonDoUong_DonDoUong] FOREIGN KEY([IDDon])
    REFERENCES [dbo].[DonDoUong] ([IDDon])
GO
IF OBJECT_ID(N'dbo.FK_ChiTietDonDoUong_DoUong', N'F') IS NULL
    ALTER TABLE [dbo].[ChiTietDonDoUong] WITH CHECK ADD CONSTRAINT [FK_ChiTietDonDoUong_DoUong] FOREIGN KEY([IDDoUong])
    REFERENCES [dbo].[DoUong] ([IDDoUong])
GO
-- Cài đặt mặc định (admin sửa trong màn hình Cài đặt)
IF NOT EXISTS (SELECT 1 FROM [dbo].[CaiDat] WHERE Khoa = N'PhuThuVIP') INSERT INTO [dbo].[CaiDat] (Khoa, GiaTri) VALUES (N'PhuThuVIP', N'30000')
IF NOT EXISTS (SELECT 1 FROM [dbo].[CaiDat] WHERE Khoa = N'PhuThuSweetbox') INSERT INTO [dbo].[CaiDat] (Khoa, GiaTri) VALUES (N'PhuThuSweetbox', N'80000')
IF NOT EXISTS (SELECT 1 FROM [dbo].[CaiDat] WHERE Khoa = N'GiaVeMacDinh') INSERT INTO [dbo].[CaiDat] (Khoa, GiaTri) VALUES (N'GiaVeMacDinh', N'70000')
IF NOT EXISTS (SELECT 1 FROM [dbo].[CaiDat] WHERE Khoa = N'ThoiLuongMacDinh') INSERT INTO [dbo].[CaiDat] (Khoa, GiaTri) VALUES (N'ThoiLuongMacDinh', N'120')
IF NOT EXISTS (SELECT 1 FROM [dbo].[CaiDat] WHERE Khoa = N'ThoiGianDonPhong') INSERT INTO [dbo].[CaiDat] (Khoa, GiaTri) VALUES (N'ThoiGianDonPhong', N'15')
IF NOT EXISTS (SELECT 1 FROM [dbo].[CaiDat] WHERE Khoa = N'PhiHoanVe') INSERT INTO [dbo].[CaiDat] (Khoa, GiaTri) VALUES (N'PhiHoanVe', N'10')
IF NOT EXISTS (SELECT 1 FROM [dbo].[CaiDat] WHERE Khoa = N'HoanVeTruocPhut') INSERT INTO [dbo].[CaiDat] (Khoa, GiaTri) VALUES (N'HoanVeTruocPhut', N'30')
GO
-- Đồ uống mẫu
IF NOT EXISTS (SELECT 1 FROM [dbo].[DoUong])
    INSERT INTO [dbo].[DoUong] (TenDoUong, MoTa, Gia, DangBan) VALUES
        (N'Bắp rang bơ (vừa)', N'Bắp rang bơ ngọt, ly vừa', 45000, 1),
        (N'Bắp rang bơ (lớn)', N'Bắp rang bơ ngọt, ly lớn', 55000, 1),
        (N'Coca-Cola', N'Nước ngọt có ga 500ml', 30000, 1),
        (N'Nước suối', N'Nước khoáng 500ml', 20000, 1),
        (N'Combo 1 bắp + 2 nước', N'1 bắp lớn và 2 nước ngọt', 99000, 1)
GO
-- Mật khẩu cũ (chưa băm) sẽ được ứng dụng tự băm lại khi người dùng đăng nhập thành công.
