IF DB_ID(N'movie') IS NULL
    CREATE DATABASE [movie]
GO
USE [movie]
GO
/****** Object:  Table [dbo].[BookedSeats]    Script Date: 10/20/2025 8:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookedSeats](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[ShowtimeID] [int] NULL,
	[SeatID] [int] NULL,
	[IsBooked] [bit] NULL,
	[IDTaiKhoan] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[BookedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 10/20/2025 8:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[MovieName] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NULL,
	[PosterPath] [nvarchar](255) NULL,
	[Poster] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomMovies]    Script Date: 10/20/2025 8:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomMovies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NULL,
	[MovieID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 10/20/2025 8:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 10/20/2025 8:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NULL,
	[SeatName] [nvarchar](10) NULL,
	[SeatType] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Showtimes]    Script Date: 10/20/2025 8:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showtimes](
	[ShowtimeID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[RoomID] [int] NULL,
	[ShowDate] [date] NOT NULL,
	[ShowTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowtimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/20/2025 8:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IDTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[Pass] [nvarchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[SDT] [nvarchar](20) NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookedSeats] ADD  DEFAULT ((0)) FOR [IsBooked]
GO
ALTER TABLE [dbo].[BookedSeats] ADD  DEFAULT (getdate()) FOR [BookedAt]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (N'user') FOR [VaiTro]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[BookedSeats]  WITH CHECK ADD FOREIGN KEY([ShowtimeID])
REFERENCES [dbo].[Showtimes] ([ShowtimeID])
GO
ALTER TABLE [dbo].[BookedSeats]  WITH CHECK ADD  CONSTRAINT [FK_BookedSeats_Seats] FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seats] ([SeatID])
GO
ALTER TABLE [dbo].[BookedSeats]  WITH CHECK ADD  CONSTRAINT [FK_BookedSeats_TaiKhoan] FOREIGN KEY([IDTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[RoomMovies]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[RoomMovies]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD  CONSTRAINT [FK_Showtimes_Movies] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Showtimes] CHECK CONSTRAINT [FK_Showtimes_Movies]
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD  CONSTRAINT [FK_Showtimes_Rooms] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Showtimes] CHECK CONSTRAINT [FK_Showtimes_Rooms]
GO
/****** Index ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trong một phòng không có 2 ghế trùng tên
CREATE UNIQUE NONCLUSTERED INDEX [UX_Seats_Room_SeatName] ON [dbo].[Seats] ([RoomID], [SeatName])
GO
-- Mỗi ghế chỉ được đặt một lần trong một suất chiếu (vé đã hoàn có IsBooked = 0 nên không tính)
CREATE UNIQUE NONCLUSTERED INDEX [UX_BookedSeats_Showtime_Seat] ON [dbo].[BookedSeats] ([ShowtimeID], [SeatID]) WHERE [IsBooked] = 1
GO
/****** Dữ liệu mẫu ******/
-- Tài khoản mặc định (mật khẩu đã băm PBKDF2): admin / admin123, staff / staff123. Nên đổi mật khẩu sau khi cài đặt.
IF NOT EXISTS (SELECT 1 FROM [dbo].[TaiKhoan] WHERE TenDangNhap = N'admin')
    INSERT INTO [dbo].[TaiKhoan] (TenDangNhap, Pass, HoTen, VaiTro) VALUES (N'admin', N'PBKDF2$100000$8q1Crf4Gp2PZLQE4wpXPcw==$U9anYEisF3+Jgqkr9nMIPJtgzDWeCJvMeoZ9a43+9QQ=', N'Quản trị viên', N'admin')
IF NOT EXISTS (SELECT 1 FROM [dbo].[TaiKhoan] WHERE TenDangNhap = N'staff')
    INSERT INTO [dbo].[TaiKhoan] (TenDangNhap, Pass, HoTen, VaiTro) VALUES (N'staff', N'PBKDF2$100000$BAcio3DIrq1W9LOSC/8h3A==$XYtYgM0KWX+ePgfz/EeZdoSkGX3WkzE0ArpWTnVqTPE=', N'Nhân viên', N'staff')
GO
-- Phòng chiếu mẫu (thêm / sửa phòng trong màn hình Phòng chiếu -> Quản lý phòng)
IF NOT EXISTS (SELECT 1 FROM [dbo].[Rooms])
    INSERT INTO [dbo].[Rooms] (RoomName) VALUES (N'Phòng 1'), (N'Phòng 2'), (N'Phòng 3')
GO
